.recovery01_wrap {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ============================================= */
.recovery01_progress {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 4px;
    margin-left: -22px;
}

.recovery01_progress_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.recovery01_progress_step span {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #A89EA1;
    background-color: #D9D2D4;
}

.recovery01_progress_step.active span {
    background-color: #60C2B4;
    color: white;
}

.recovery01_progress_step p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -2%;
    color: black;
}

.recovery01_progress_line {
    width: 105px;
    height: 2px;
    margin-top: 15px;
    background-color: #D9D2D4;
}

/* ============================================= */

.recovery01_title {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 31px;
}

.recovery01_title span {
    width: 63px;
    height: 31px;
    border-radius: 10px;
    background-color: white;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: -2%;
    color: #60C2B4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.recovery01_title p {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -2px;
}

.recovery01_content01 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -2%;
}

.recovery01_content02 {
    margin-top: 12px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -2%;
}

/* ============================================= */

.recovery01_main {
    width: 393px;
    margin: 24px 0 27px -22px;
    padding: 27px 21px 0 22px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
}

.recovery_s_top {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -2%;
}

.recovery01_section_description {
    margin-top: 6px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -2%;
    color: #7B7578;
}

.recovery01_tags {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.recovery01_tags span {
    padding: 7px 22px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -2%;
    color: #27877A;
    background-color: #DAF8F4;
}

/* ============================================= */

.recovery01_section02{
    margin-top: 24px;
}

.recovery01_product {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 13px;
}

.recovery01_product_image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.recovery01_product_content p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
}

.recovery01_product_content div {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 6px;
}

.recovery01_product_content span {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -2%;
}

/* ============================================= */

.recovery01_caution {
    margin-top: 11px;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    background-color: rgba(218, 248, 244, 0.5);
}

.recovery01_caution div {
    display: flex;
    align-items: center;
    gap: 9px;
}


.recovery01_caution p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -2%;
}

/* 다음 버튼 */

.recovery01_main .recovery_bot_btn {
    width: 100%;
    height: 51px;

    margin-top: auto;
    padding: 0;
    flex-shrink: 0;

    border: 0;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2e3a38;

    cursor: pointer;
}